#div-tabelas{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: #0747A6;
    border-top-color: #0747A6;
    border-radius: 5pxpx;
}

#btn-cadastrar{
    margin-left: 10px;
    border-radius: 5px;
    width: 100px;
    padding: 3px 5px 3px 5px;
    background-color: #0747A6;
    color: white;
}

#div-tbl-palavras{
    margin-right: 10px;
    height: 300px;
    text-align: center;
    max-height:300px;
    overflow-y:auto;  
}

#div-tbl-caracteres{
    box-shadow: darkgrey;
    text-align: center;
    height: 300px;
    max-height:300px;
    overflow-y:auto;  
}

#div-entradas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    margin-bottom: 10px;  
}

#ipt-palavra{
    width: 300px;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    margin-right: 10px;
}

#div-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    margin-bottom: 10px;
    background-color: #0747A6;
    color: white;
}

.col-xs-6 {
    box-sizing: border-box;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
}

#div-resultado-palavras{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding-top: 5px;
    padding-bottom: 5px; 
}

#div-resultado-letras{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding-top: 5px;
}

.inner{
    text-align: center;  
    padding: 10px 20px 10px 20px; 
    background-color:#0747A6;
    color: white;
    width: 300px;
}
